---
breadcrumb: PCF Services
title: Release Notes
---

<strong><%= modified_date %></strong>

## <a id="1-4-16"></a> 1.4.16

**Release Date: February 3, 2020**

### Resolved Issues
This release fixes the following issue:

* Fixes an issue where the **Engine** field on the **RDS Config** pane did not appear in
<%= vars.ops_manager_full %> v2.7 and later. Because this field appeared
in <%= vars.ops_manager_full %> v2.6 and earlier, the prior behavior is restored.
However, you must not modify the **Engine** field because it is not supported.

###Known Issues
This release has the following issue:
<%= partial vars.path_to_partials + "/aws-broker/postgresql-role-issue" %>
<%= partial vars.path_to_partials + "/aws-broker/ki-engine-field" %>


## <a id="1-4-15"></a> 1.4.15 - End of General Support

**Release Date: January 31, 2020**

### Resolved Issues
This release fixes the following issue:

* Fixes an issue where service plan fields did not appear in <%= vars.ops_manager_full %> v2.7 and later.

###Known Issues
This release has the following issue:
<%= partial vars.path_to_partials + "/aws-broker/postgresql-role-issue" %>
<%= partial vars.path_to_partials + "/aws-broker/ki-engine-field" %>

## <a id="1-4-14"></a> 1.4.14 - End of General Support

<p class="note warning"><strong>Warning:</strong> This release is no longer supported
because it has reached the End of General Support (EOGS) phase.
To stay up to date with the latest software and security updates,
upgrade to a supported version.
</p>

**Release Date: November 14, 2019**

### Features
New features and changes in this release:

* Added Amazon RDS 2019 Certificate Authority (CA) certificates.
For instructions on how to update your CA certificates, see the [AWS RDS documentation](https://docs.aws.amazon.com/AmazonRDS/latest/UserGuide/UsingWithRDS.SSL-certificate-rotation.html).

###Known Issues
This release has the following issue:
<%= partial vars.path_to_partials + "/aws-broker/postgresql-role-issue" %>
<%= partial vars.path_to_partials + "/aws-broker/ki-service-plan-fields" %>
<%= partial vars.path_to_partials + "/aws-broker/ki-engine-field" %>

## <a id="1-4-13"></a> 1.4.13 - End of General Support

<p class="note warning"><strong>Warning:</strong> This release is no longer supported
because it has reached the EOGS phase.
To stay up to date with the latest software and security updates,
upgrade to a supported version.
</p>

**Release Date: July 22, 2019**

### Features
New features and changes in this release:

* Updates PCF Service Broker for AWS to use Cloud Foundry Command Line Interface (cf CLI) tool v6.45.0.

###Known Issues
This release has the following issue:
<%= partial vars.path_to_partials + "/aws-broker/postgresql-role-issue" %>
<%= partial vars.path_to_partials + "/aws-broker/ki-service-plan-fields" %>
<%= partial vars.path_to_partials + "/aws-broker/ki-engine-field" %>


## <a id="1-4-12"></a> 1.4.12 - End of General Support

<p class="note warning"><strong>Warning:</strong> This release is no longer supported
because it has reached the EOGS phase.
To stay up to date with the latest software and security updates,
upgrade to a supported version.
</p>

**Release Date: May 10, 2019**

### Features
New features and changes in this release:

* Updates PCF Service Broker for AWS to use Xenial stemcells.
Trusty stemcells are no longer supported.

### Known Issues

This release has the following issue:
<%= partial vars.path_to_partials + "/aws-broker/postgresql-role-issue" %>



## <a id="1-4-11"></a> 1.4.11 - End of General Support

<p class="note warning"><strong>Warning:</strong> This release is no longer supported
because it has reached the EOGS phase.
To stay up to date with the latest software and security updates,
upgrade to a supported version.
</p>

**Release Date: April 17, 2019**

### Resolved Issues
This release fixes the following issue:

* Fixes an issue where using the latest Go buildpacks caused deployment of the broker to fail.

###Known Issues
This release has the following issue:
<%= partial vars.path_to_partials + "/aws-broker/postgresql-role-issue" %>



## <a id="1-4-10"></a> 1.4.10 - End of General Support

<p class="note warning"><strong>Warning:</strong> This release is no longer supported
because it has reached the EOGS phase.
To stay up to date with the latest software and security updates,
upgrade to a supported version.
</p>

**Release Date: November 28, 2018**

### Resolved Issues
This release fixes the following issue:

* Fixes [CVE-2018-15759: On Demand Services SDK Timing Attack Vulnerability](https://pivotal.io/security/cve-2018-15759)

### Known Issues
This release has the following issue:
<%= partial vars.path_to_partials + "/aws-broker/postgresql-role-issue" %>



## <a id="1-4-9"></a> 1.4.9 - End of General Support

<p class="note warning"><strong>Warning:</strong> This release is no longer supported
because it has reached the EOGS phase.
To stay up to date with the latest software and security updates,
upgrade to a supported version.
</p>

**Release Date: August 3, 2018**

### Resolved Issues
This release fixes the following issue:

* Fixes an issue when creating service keys with a `Temporary Credentials Timeout`
during AWS configuration of the tile in <%= vars.ops_manager %>.
If `Temporary Credentials Timeout` was a non-zero value,
the timeout did not work because of changes in Amazon's validation logic.

###Known Issues
This release has the following issue:
<%= partial vars.path_to_partials + "/aws-broker/postgresql-role-issue" %>



## <a id="1-4-8"></a> 1.4.8 - End of General Support

<p class="note warning"><strong>Warning:</strong> This release is no longer supported
because it has reached the EOGS phase.
To stay up to date with the latest software and security updates,
upgrade to a supported version.
</p>

**Release Date: June 8, 2018**

### Features
New features and changes in this release:

* The broker uses MySQL for PCF v2 when creating a backing store.
Existing v1 databases are untouched and require manual migration

### Known Issues
This release has the following issue:
<%= partial vars.path_to_partials + "/aws-broker/postgresql-role-issue" %>



## <a id="1-4-7"></a> 1.4.7 - End of General Support

<p class="note warning"><strong>Warning:</strong> This release is no longer supported
because it has reached the EOGS phase.
To stay up to date with the latest software and security updates,
upgrade to a supported version.
</p>

**Release Date: April 3, 2018**

### Features
New features and changes in this release:

* Adds support for partition lookup when using custom endpoints.json
* Allows a service to be unbound when the associated bind user no longer exists
* Updates minimum stemcell version to 3468

### Known Issues
This release has the following issue:
<%= partial vars.path_to_partials + "/aws-broker/postgresql-role-issue" %>



## <a id="1-4-6"></a> 1.4.6 - End of General Support

<p class="note warning"><strong>Warning:</strong> This release is no longer supported
because it has reached the EOGS phase.
To stay up to date with the latest software and security updates,
upgrade to a supported version.
</p>

**Release Date: February 13, 2018**

### Resolved Issues
This release fixes the following issues:

* Fixes Oracle DB binding issue
* Fixes Aurora DB instances not being created in specified VPC and subnets

### Known Issues
This release has the following issue:
<%= partial vars.path_to_partials + "/aws-broker/postgresql-role-issue" %>



## <a id="1-4-5"></a> 1.4.5 - End of General Support

<p class="note warning"><strong>Warning:</strong> This release is no longer supported
because it has reached the EOGS phase.
To stay up to date with the latest software and security updates,
upgrade to a supported version.
</p>

**Release Date: November 17, 2017**

* Updated minimum stemcell version to 3445
* Updated blue-green deploy of broker to persist failed instances for debugging
* Fixed issue where bind was failing for non-commercial AWS partitions
* Fixed issue where create-service-key was failing for non-commercial AWS partitions due to
incorrect ARN format
* Fixed issue where create-service-key was failing for accounts containing 100 or more policies
* Added RDS CA certificates for ca-central-1, us-east-2, eu-west-2, ap-south-1, us-gov-west-1,
and cn-north-1


## <a id="1-4-3"></a> 1.4.3 - End of General Support

<p class="note warning"><strong>Warning:</strong> This release is no longer supported
because it has reached the EOGS phase.
To stay up to date with the latest software and security updates,
upgrade to a supported version.
</p>

**Release Date: October 12, 2017**

* Fixed Service Broker deployment issue when using MySQL v5.6.x


## <a id="1-4-2"></a> 1.4.2 - End of General Support

<p class="note warning"><strong>Warning:</strong> This release is no longer supported
because it has reached the EOGS phase.
To stay up to date with the latest software and security updates,
upgrade to a supported version.
</p>

**Release Date: August 11, 2017**

Note: This version requires Go Buildpack v1.8.3 or later and stemcell 3363.29 or later.

* Fixed default MySQL privileges and change grants on other MySQL compatible databases
* Fixes for C2S (Certificate, Regions)
* Added region for GovCloud
* Updated Regions dropdown for new regions


## <a id="1-4-0"></a> 1.4.0 - End of General Support

<p class="note warning"><strong>Warning:</strong> This release is no longer supported
because it has reached the EOGS phase.
To stay up to date with the latest software and security updates,
upgrade to a supported version.
</p>

**Release Date: June 26, 2017**

Note: This version requires Go Buildpack v1.8.3 or later and stemcell 3363.25 or later.

* The service broker can use an HTTP/HTTPS Proxy, configured in <%= vars.ops_manager %> settings
* Encryption can be enforced on S3 buckets through a policy setting
* Updated golang version to 1.8
* Upgraded to the latest AWS Golang SDK v1.8.19
* Updated to the 3363 stemcell
* Fixed the default custom privileges on PostgreSQL service plans for upgrades
